* {
    box-sizing: border-box;
}

body {
    margin-top: 15px;
}

.navbar {
    background-color: white;
    color: #b5955f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 3.5rem;
    z-index: 99;
}

.navbar ul {
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    gap: 60%;
    font-size: 30px;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 50%;
}

.navbar li {
    text-decoration: none;
}

.navbar li:hover {
    font-weight:500;
    text-decoration: overline;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display:flex;
    align-items: center;
}

.home-icon {
    color: #b5955f;
    font-size: 2.5rem;
    text-decoration: none;
}