/* Background gif */
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* home body section */

.web-body {
    background-color: white;
    width: 100%;
    position:absolute;
    margin:0;
}

/* introduction section */

.intro-section {
    width: 100%;
    display: flex;
    position:relative;
    align-items:center;
    justify-content:center;
    top: 120px;
}

.intro-left-column {
    padding-right: 5%;
}

.intro-text {
    display: flex;
    position: relative;
    color: black;
    font-size: xxx-large;
    padding-bottom: 5%;
    font-size: 58px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif;
}

#name {
    font-size: 140px;
    font-weight: bolder;
    color:#b5955f;
    
}

.about-me {
    position: relative;
    box-shadow: 7px 8px 8px 2px #1c1b18;
	background:linear-gradient(to bottom, #e3c188 5%, #b5955f 100%);
	background-color:#b5955f;
	border-radius:17px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:11px 52px;
	text-decoration:none;
}
.about-me:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}

.profile-pic {
    border-radius: 50%;
    width: 35%;
}


/* project section */
.project-section-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-weight: 900;
    text-decoration: overline;
}

.projects-section {
    width: 100%;
    position: relative;
    align-items: center;
    top:800px;
}

.first-row {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.second-row {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}